<!DOCTYPE html>
<html>
 <body>
   <head>
     <title>Instructions</title>
   <link rel="stylesheet" href="/
	css/ins.css">
     </head>
	 <div class="row">
			<main id="main-doc">
				<section class="main-section" id="Introduction">
					<header>
						<h1>Introduction</h1>
					</header>
					<p>This is an AI/ML-operated planetary version of Google Maps. The user will have a choice to navigate on one of four different planets. The user can then:</p>
	<ul>
		<li>Hover over the features, seeing their name and points on the scaled-map</li>
		<li>Add features to the navigaton system</li>
		<li>Delete features based on if they appear in a "red" (dangerous area on the planet) area</li>
		<li>Switch planets</li>
    <li>Look at different views of the planet</li>
    <li>Input two features to find the shortest path</li>
	</ul>
	<form action="/planchoice" method="GET">
  <button type = "submit">
    Next Page
  </button>
</form>
				</section>
	 </div></script>
	</body>
</html>